TEST_ENV=staging
BASE_URL=https://app.staging.shipsticks.com
AUTH_EMAIL=john@gmail.com
AUTH_PASSWORD=Password
HEADED=false
SLOW_MO=0
TIMEOUT=60000
WORKERS=4
FULLY_PARALLEL=false
VERBOSE=false
BROWSERS=chromium
SCENARIOS=challenge
